<div class="row line-center slide">
  <div class="flex card">
    <div class="card-top">
      <span class="header">Create item</span>
    </div>
    <div class="card-toolbar">
      <span class="pointer"  ng-click="vm.goToItemList()">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M2,3V6H21V3M20,8H3A1,1 0 0,0 2,9V15A1,1 0 0,0 3,16H20A1,1 0 0,0 21,15V9A1,1 0 0,0 20,8M2,21H21V18H2V21Z" />
        </svg>
      </span>
    </div>

    <form name="form">
      <div class="row">
        <input type="text" autofocus required class="flex" placeholder="Name" ng-model="vm.title">
      </div>
      <div class="row">
        <textarea required rows="5" class="flex" placeholder="Desc" ng-model="vm.info"></textarea>
      </div>

      <div class="fab-wrapper">
        <div class="line-center">
          <button type="submit" class="fab pointer" ng-click="vm.createItem(vm.title, vm.info);vm.goToItemList()">
            <svg class="pointer" style="width:24px;height:24px" viewBox="0 0 24 24">
              <path d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4M11,16.5L6.5,12L7.91,10.59L11,13.67L16.59,8.09L18,9.5L11,16.5Z" />
            </svg>
          </button>
        </div>
      </div>

    </form>

  </div>
</div>
