
<form name="form" ng-submit="vm.registerUser(name, password)">
<input type="text" required class="login-input" id="username" ng-model="name" placeholder="Username">
<input type="password" required class="login-input" id="password" ng-model="password" placeholder="Password">
<input type="submit" name="name" value="Submit">
</form>

<div ng-class="{'outro':vm.sumbitted}">
  <div class="login-wrapper slide line-center card">

    <div class="hero">
      <img src="img/placegolder-logo.png" alt="">
          <h2 class="header ">Register</h2>
    </div>

    <form name="form" class="login-form" ng-submit="vm.registerUser(name, password)">
        <div class="row">
            <input type="text" required class="login-input" id="username" ng-model="name" placeholder="Username"> 
        </div>
        <div class="row">
            <input type="password" required class="login-input" id="password" ng-model="password" placeholder="Password">
        </div>
        <div class="row">
            <input type="file" class="login-input" id="profile" ngf-select accept="image/*" ng-model="vm.profilePic" placeholder="image">
        </div>
         <img ngf-thumbnail="vm.profilePic" class="thumb">
        <div class="row">
            <div class="flex">
                <input class="btn" type="submit" name="name" value="Submit">
            </div>
        </div>
    </form>
  </div>
  <div class="login-footer line-center"></div>
  <div class="login-background intro" ng-class="{'outro':vm.sumbitted}"></div>
</div>