<div ng-class="{'outro':vm.sumbitted}">
  <div class="login-wrapper slide line-center">
    <h2 class="header ">Sign in</h2>
    <form name="form" ng-submit="vm.submitLogin(username, password)">
      <div class="row">
        <div class="flex">
          <label for="username" class="inline-flex">
            <input type="text" required class="login-input" ng-model="username" placeholder="Username">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="flex">
          <label for="password" class="inline-flex">
            <input type="password" required class="login-input" ng-model="password" placeholder="Password">
          </label>
        </div>
      </div>
      <input type="submit" name="username" password="password" value="Submit">
      <button ng-click="vm.goToRegisterUser()">Register</button>
    </form>
  </div>
  <div class="login-footer line-center">
    Forgot password?
  </div>
  <div class="login-background intro" ng-class="{'outro':vm.sumbitted}"></div>
</div>


<div class="login-wrapper">
  
</div>
